<%= form_for(@tree) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'User' %><br />
    <% users_array = User.all.map { |user| [user.name, user.id] } %>
    <%= f.select(:user_id, options_for_select(users_array)) %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <% if @name %>
      <%= f.text_field :nickname, :value => @name %>
    <% else %>
      <%= f.text_field :nickname %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :adress %><br />
    <%= f.text_field :adress %>
  </div>

   <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
