<h1>Listing trees</h1>

<table>
  <tr>
    <th>Nickname</th>
    <th>Content</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trees.each do |tree| %>
  <tr>
    <td><%= tree.nickname %></td>
    <td><%= tree.content %></td>
    <td><%= tree.latitude %></td>
    <td><%= tree.longitude %></td>
    <td><%= link_to 'Show', tree %></td>
    <td><%= link_to 'Edit', edit_tree_path(tree) %></td>
    <td><%= link_to 'Destroy', tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tree', new_tree_path %>
